.body {
  padding: 20px;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
  }

  .type {
    color: #fff;
    padding: 5px 10px;
    background-color: #4361ee;
    border-radius: 10px;
  }

  .percentRed {
    color: #fff;
    background-color: #ff000098;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
  }

  .percentGreen {
    color: #fff;
    background-color: #09970498;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
  }
}
